<ion-content [fullscreen]="true">
  <div class="content-wrapper">

    <ion-header [translucent]="true">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>{{ "STATSTITLE" | translate }}</ion-title>
      </ion-toolbar>
    </ion-header>

    <!-- Selector de idioma -->
    <ion-item>
      <ion-select
            label="Idioma"
            placeholder="Idioma"
            (ionChange)="changeLanguage($event)"
            [value]="currentLang">
        <ion-select-option value="es">Español</ion-select-option>
        <ion-select-option value="ca">Català</ion-select-option>
        <ion-select-option value="en">English</ion-select-option>
      </ion-select>
    </ion-item>

    <div class="container">
      <p>Aquí colocaremos las estádisiticas de consumo de todos los días.</p>
      <p>Diseño: <a href="https://www.figma.com/file/4tAW2txIqmRbdPBHyq02lU/Beerstagram?type=design&node-id=2-93&mode=design&t=VWPzGyJKIu9wiES1-4" target="_blank">link</a></p>
    </div>
  </div>

  <footer>
    <h1>545/2100 kcal</h1>
    <p>{{ "FOOTER" | translate }}</p>
  </footer>
  
</ion-content>
