<ion-content [fullscreen]="true">
  <div class="content-wrapper">

    <ion-header [translucent]="true">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>{{ "STATSTITLE" | translate }}</ion-title>
      </ion-toolbar>
    </ion-header>

    <!-- Selector de idioma -->
    <ion-item>
      <ion-select label="Idioma" placeholder="Idioma" (ionChange)="changeLanguage($event)" [value]="currentLang">
        <ion-select-option value="es">Español</ion-select-option>
        <ion-select-option value="ca">Català</ion-select-option>
        <ion-select-option value="en">English</ion-select-option>
      </ion-select>
    </ion-item>

    <div class="centrado">
      <p>{{ "DAY1" | translate }}</p>
    </div>

    <div class="centrado">
      <p>{{ "ITEM3" | translate }}</p>
    </div>

    <div class="centrado">
      <p>{{ "ITEM4" | translate }}</p>
    </div>

    <div class="centrado">
      <p>{{ "DAY2" | translate }}</p>
    </div>

    <div class="centrado">
      <p>{{ "ITEM5" | translate }}</p>
    </div>

    <div class="centrado">
      <p>{{ "ITEM6" | translate }}</p>
    </div>

    <div class="centrado">
      <p><b>...</b></p>
    </div>

  </div>

  <footer>
    <h1>545/2100 kcal</h1>
    <p>{{ "FOOTER" | translate }}</p>
  </footer>

</ion-content>