<ion-content [fullscreen]="true">
  <div class="content-wrapper">

    <ion-header [translucent]="true">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>{{ "STATSTITLE" | translate }}</ion-title>
      </ion-toolbar>
    </ion-header>

    <!-- Selector de idioma -->
    <ion-item>
      <ion-select
            label="Idioma"
            placeholder="Idioma"
            (ionChange)="changeLanguage($event)"
            [value]="currentLang">
        <ion-select-option value="es">Español</ion-select-option>
        <ion-select-option value="ca">Català</ion-select-option>
        <ion-select-option value="en">English</ion-select-option>
      </ion-select>
    </ion-item>

    <p class="mr">{{ "DAY1" | translate }}</p>
    <p class="mr">{{ "ITEM3" | translate }}</p>
    <p class="mr">{{ "ITEM4" | translate }}</p>
    <p class="mr">{{ "DAY2" | translate }}</p>
    <p class="mr">{{ "ITEM5" | translate }}</p>
    <p class="mr">{{ "ITEM6" | translate }}</p>
    <p class="mr">...</p>
  </div>

  <footer>
    <h1>545/2100 kcal</h1>
    <p>{{ "FOOTER" | translate }}</p>
  </footer>
  
</ion-content>
