.content-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.centrado {
    display: flex;
    justify-content: center;
}

footer {
    background-color: #003547;
    color: white;
    text-align: center;
    padding: 5px;
}