<ion-content [fullscreen]="true">
  <div class="content-wrapper">
    <ion-header [translucent]="true">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>{{ "DAILYSUMMARYTITLE" | translate }}</ion-title>
      </ion-toolbar>
    </ion-header>

    <!-- Selector de idioma -->
    <ion-item>
      <ion-select
        label="Idioma"
        placeholder="Idioma"
        (ionChange)="changeLanguage($event)"
        [value]="currentLang"
      >
        <ion-select-option value="es">Español</ion-select-option>
        <ion-select-option value="ca">Català</ion-select-option>
        <ion-select-option value="en">English</ion-select-option>
      </ion-select>
    </ion-item>

    <br>

    <div class="centrado">
      <ion-list>
        <ion-card>
          <ion-card-content>
            <ion-item *ngFor="let consumo of consumos">
              <ion-card-header>
                <ion-card-title>
                  <h4>{{consumo.fecha}} &#8680; </h4>
                </ion-card-title>
              </ion-card-header>
                <ion-item *ngFor="let cerveza of consumo.cervezas">
                  <h6>{{cerveza.beerName}} &nbsp; </h6>
                  <hr />
                  <p> {{cerveza.beerEnergyValue}} kcal</p>
                </ion-item>
            </ion-item>
        </ion-card-content>
        </ion-card>
        
        <div class="centrado">
          <p> {{ "TOTALKCAL" | translate }} &#8680; {{ totalEnergyValue }} kcal</p>
        </div>
      </ion-list>
    </div>

    <br>

    <div class="centrado">
      <ion-button (click)="navegarAPagina()" shape="round">{{ "THELASTBUTTON" | translate }}</ion-button>
    </div>

    <br>

  </div>
  
  <footer>
    <h1>545/2100 kcal</h1>
    <p>{{ "FOOTER" | translate }}</p>
  </footer>
</ion-content>
