.content-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.itemStyle {
  --background: #cfd3d1;
  --color: black;
  font-weight: bold;
  --border-color: #fff;
  --border-width: 2px;
  --border-radius: 6px;
  --detail-icon-color: white;
  --detail-icon-opacity: 1;
  --detail-icon-font-size: 20px;
  width: 350px;
  margin-top: 15px;
} 

ion-label {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  text-align: start;
}

.centrado {
  display: flex;
  justify-content: center;
}

ion-button {
  --background: #E1523D;
  text-transform: capitalize ;
}

footer {
  background-color: #003547;
  color: white;
  text-align: center;
  padding: 5px;
}

  