.content-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.mr-10 {
    margin-left: 10px;
}

ion-button {
    --background: #E1523D;
    margin: 20px;
    text-transform: none;
}

.image {
    width: 300px;
}

footer {
    background-color: #003547;
    color: white;
    text-align: center;
    padding: 5px;
}