.margen {
    margin-left: 10px;
}

ion-button {
    --background: #E1523D;
    margin-left: 20px;
}

.imagen {
    width: 300px;
}

footer {
    display: block;
    background-color: #003547;
    text-align: center;
    padding: 1px;
    margin-top: 100%;
    width: 100%;
}